@import "tailwindcss";
@font-face {
  font-family: 'Bold_Dispo';
  src: url('./assets/fonts/Sequel Sans Bold Disp.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Semi_Bold_Disp';
  src: url('./assets/fonts/Sequel Sans Semi Bold Disp.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roman_Disp';
  src: url('./assets/fonts/Sequel Sans Roman Disp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


button {
  font-family: 'Bold_Dispo';
}


@media (max-height: 850px) {
  .phone-mockup {
    transform: scale(0.9);
  }
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}